<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-login-left"></div>
    <div class="col-md-8 col-lg-6 bg-image-login-right">
      <div class="login d-flex align-items-center pt-3 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <img class="mx-auto d-block mb-2" src="/images/geckobugtracker_logo_plain.png" alt="Gecko Bug Tracker Logo">
              <h3 class="login-heading mb-4">Sign-In</h3>
              <form method="post" action="/login">
                <div class="form-label-group">
                  <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="<%= params[:username] || "" %>" required autofocus>
                  <label for="username">Username</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                  <label for="password">Password</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                <div class="login-tagline text-center">
                  Don't have an account? <a class="small" href="/register">Register</a>
                </div>
                <div class="text-center pt-4 pb-3">
                  <h6 class="overline-title overline-title-sap"><span>Or Login With A Demo Account</span></h6>
                </div>
              </form>
              <div class="row">
                <div class="col">
                  <form id="account" method="post" action="/demo_login">
                    <div class="form-group">
                      <button class="btn btn-lg btn-outline-primary btn-block btn-demo font-weight-bold mb-2" type="submit">Admin</button>
                    </div>
                    <input name="demo_login_role" type="hidden" value="admin">
                  </form>
                </div>
                <div class="col">
                  <form id="account" method="post" action="/demo_login">
                    <div class="form-group">
                      <button class="btn btn-lg btn-outline-primary btn-block btn-demo font-weight-bold mb-2" type="submit">Project Manager</button>
                    </div>
                    <input name="demo_login_role" type="hidden" value="project_manager">
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <form id="account" method="post" action="/demo_login">
                    <div class="form-group">
                      <button class="btn btn-lg btn-outline-primary btn-block btn-demo font-weight-bold mb-2" type="submit">Developer</button>
                    </div>
                    <input name="demo_login_role" type="hidden" value="developer">
                  </form>
                </div>
                <div class="col">
                  <form id="account" method="post" action="/demo_login">
                    <div class="form-group">
                      <button class="btn btn-lg btn-outline-primary btn-block btn-demo font-weight-bold mb-2" type="submit">QA</button>
                    </div>
                    <input name="demo_login_role" type="hidden" value="quality_assurance">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
