<h1>Create Ticket</h1>

<h2>Submit a bug or a request</h2>

<dl class="enlarge">
  <dt>Project</dt>
  <dd>"<%= @project_name %>"</dd>
</dl>

<form class="enlarge" method="post" action="/tickets">
  <fieldset>
    <input type="hidden" name="project_id" value="<%= params[:project_id] %>" />
  </fieldset>

  <fieldset>
    <label>
      Ticket Priority
      <select name="priority">
        <option selected="selected">Low</option>
        <option>High</option>
        <option>Critical</option>
      </select>
    </label>
  </fieldset>

  <fieldset>
    <label>
      Ticket Type
      <select name="type" required>
        <option value="" disable selected>--Select Ticket Type--</option>
        <option>Bug/Error Report</option>
        <option>Feature Request</option>
        <option>Service Request</option>
        <option>Other</option>
      </select>
    </label>
  </fieldset>

  <fieldset>
    <label>
      Title
      <input type="text" name="title" autocompelte="off" size="35" required />
    </label>
    <label>
      Description
      <input type="text" name="description" autocompelte="off" value="n/a" size="60" />
    </label>
  </fieldset>

  <a href="/tickets">Back to Tickets List</a>
  <button type="submit">Create Ticket</button>
</form>