<h3>Create Project</h3>

<h4>Project creator will be automatically assigned as project manager.</h4>

<br>

<form class="enlarge" method="post" action="/projects/new">
  <fieldset>
    <label>
      Project Name
      <input type="text" name="name" autocompelte="off" value="<%= params[:name] || "" %>" size="35" maxlength="100" required />
    </label>
    <label>
      Description
      <input type="text" name="description" autocompelte="off" value="<%= params[:description] || "" %>" size="60" maxlength="300" required />
    </label>
  </fieldset>
  <br>
  <a href="/projects">Back to Projects List</a>
  <button type="submit">Create Project</button>
</form>