<div class="mai-wrapper">
  <nav class="navbar navbar-expand-lg mai-sub-header">
    <div class="container">
      <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
        <div class="navbar-collapse collapse mai-nav-tabs" id="mai-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item parent">
              <a class="nav-link" href="/dashboard" role="button" aria-expanded="false">
                <span class="icon s7-home"></span>
                <span>Home</span>
              </a>
            </li>
            <li class="nav-item parent">
              <a class="nav-link" href="/projects" role="button" aria-expanded="false">
                <span class="icon s7-display2"></span>
                <span>Projects</span>
              </a>
            </li>

            <li class="nav-item parent">
              <a class="nav-link" href="/tickets" role="button" aria-expanded="false">
                <span class="icon s7-ticket"></span>
                <span>Tickets</span>
              </a>
            </li>

            <li class="nav-item parent open">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-users"></span>
                <span>Users</span>
              </a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
              </ul>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </nav>

  <div class="main-content container">
    <div class="row page-head">
      <div class="col-md-4 page-head-heading">
        <h1>Page Header</h1>
      </div>
      <div class="col-md-8 page-head-desc">
        <h3>Morbi purus nisi, porttitor a sodales at, consectetur sit auctor<br> efficitur nisi. Aliquam erat volutpat. Morbi lobortis odio sem<br> lieto justo</h3>
      </div>
    </div>
  </div>
</div>
