body {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff;
}

.enlarge {
  font-size: 2em;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

.reg_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.reg_table td, .reg_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.reg_table tr:nth-child(even){background-color: #f2f2f2;}

.reg_table tr:hover {background-color: #ddd;}

.reg_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.reg_table.resolved  th {
  background-color: #c41c0a;
}

.make_bold {
  color: red;
  font-size: 2em;
}

.properties dt {
  color: green;
}

.properties dd {
  padding-left: 15px;
}